.wrapper {
    height: auto;
    width: 99%;
    margin: 0 auto;
}

.main {
    display: flex;
}

ul.admincp_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.admincp_list li {
    float: left;
    margin: 10px;
}

h1.title_admin {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: rgb(15, 219, 15);
}

.clear {
    clear: both;
}

ul.navbar-nav li.nav-item a:hover {
    color: blue;
    background-color: aquamarine;
}

.nav-item {
    padding: 0 15px;
}